<div id="<%= dom_id tree %>">
  <p>
    <strong>Name:</strong>
    <%= tree.name %>
  </p>

  <p>
    <strong>X:</strong>
    <%= tree.x %>
  </p>

  <p>
    <strong>Instagram:</strong>
    <%= tree.instagram %>
  </p>

  <p>
    <strong>Youtube:</strong>
    <%= tree.youtube %>
  </p>

  <p>
    <strong>User:</strong>
    <%= tree.user_id %>
  </p>

  <p>
    <strong>Style:</strong>
    <%= tree.style %>
  </p>

</div>
